* {
box-sizing: border-box;
}

body {
margin: 0;
font-family: sans-serif;
background: #f5f6f7;
}

.header {
text-align: center;
text-transform: uppercase;
padding: 32px;
background-color: #0a0a23;
color: #fff;
border-bottom: 4px solid #fdb347;
}

.gallery {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 16px;
max-width: 1400px;
margin: 0 auto;
padding: 20px 10px;
}

.gallery img {
width: 100%;
max-width: 350px;
height: 300px;
object-fit: cover;
border-radius: 10px;
}

.gallery::after {
content: "";
width: 350px;
}
.pdf{
	width:35%;
	height: 100vh;
}
.body-header{
	text-align: center;
	text-transform: uppercase;
	padding: 20px;
	color: black;
}
.homepage-header{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding:20px;
	gap:100px;
	text-align: center;
	text-transform: uppercase;
	background-color: #0a0a23;
	
}
.home-photo{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.home-photo img{
	margin-top: 20px;
	object-fit: cover;
	width: 400px;
	height:500px;
	border-radius: 40px;
}
.about{
	text-align: center;
	padding:20px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 35px;

}
.cv-gallery{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap:150px;
}
.cv-header{
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap:30%;
}